<h1><%= locals.user.username %>'s Hero Team</h1>
<% locals.user.character.forEach(character => { %>
  <h4><%= character.name %></h4>
  <img src="<%= character.image %>">
  <p><%= character.description %></p>
  <form method="post" action="/users/<%= locals.user.id %>/<%= character.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" class="btn btn-danger">
  </form>
<% }); %>
