<h1><%= comic.title %></h1>

<a href="/comics/index/<%= comic._id %>"></a>
<p>IssueNumber: <%= comic.issueNumber %></p>
<img src="<%= comic.image %>/portrait_xlarge.jpg"></br>
<%= comic.description %>
