<h1><%= character.name %></h1>
<a href="/statics/index/<%= character._id %>"></a>
<p><%= character.description %></p>
<p><%= character.comic %></p>
<img src="<%= character.image %>/portrait_xlarge.jpg">
<a href="/favourites/<%= character._id %>">Add to team</a>
